@font-face {
      font-family: 'Eras';
      src: local('ERASDEMI.TTF'), url('font/ERASDEMI.TTF');
      font-weight: normal;
      font-style: normal;
    }
    
@font-face {
      font-family: 'ErasLht';
      src: local('ERASMD.TTF'), url('font/ERASMD.TTF');
      font-weight: normal;
      font-style: normal;
    }
    
body {
    display: table;
    margin: 0px;
    width: 100%;
    background: #EBF096;
    font-family: ErasLht, sans-serif;
    font-size: 19px;
}

h1.animate {
    text-align: center;
  animation-duration: 2s;
  animation-name: slidein;
  color: green;
}
h1, h2 {
  text-align: center;
  color: green;
}

#heading {
    width: 100%;
    background-color: #040117;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 100px;
}




#heading img{
width:20%;
margin-left: 5%;
vertical-align:baseline;
}

#heading h2{
display: inline-block;
width: 70%;
text-align: center;
color: whitesmoke;
font: 2em Eras, Sans-serif;

}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#itens tr:nth-child(odd){
    background-color: gainsboro;
    font-weight: bold;
    font-size: large;
}

#itens tr:nth-child(even){
    background-color: white;
    font-weight: bold;
    font-size: large;
}

#listas{
    border: #000000 1px solid;
}

#listas tr:nth-child(odd){
    background-color: gainsboro;
    font-size: large;
}

#listas tr:nth-child(even){
    background-color: white;
    font-size: large;
}

#listas thead{
    background-color: burlywood;
    font-weight: bold;
}

table#listas td:hover{
	font-weight: bold;
	cursor: pointer;       
}

table#menu, .botao{
        border: 1px solid #656565;
        border-radius: 10px;
        box-shadow: 10px 10px 5px #888888;
	width: 90%;
	background-color: #686592;
        background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.3));
	text-align: center;
        color: #ffffff;
	height: 40px;        
        margin-top: 10px;
        font-size: 1.2em;
}

.botao{
    width: 130px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 0px 0px #888888;
    background-color: #d8b107;
}

.botao:hover{
    background-color: #d8b107;
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.3));
    font-family: Eras, sans-serif;
    cursor: pointer; 
    color: yellow;
    box-shadow: 5px 5px 3px #888888;
}

table#menu td{
	width: 15%;
        border-radius: 10px;        
}

table#corpo{
	width: 70%;
        margin-top: -20px;
}

table#corpo2{
	width: 70%;
        margin-top: 15px;
}

table#corpo3{
	left: 50%;
        top: 50%;
        margin-top: 20px;
}

table#menu td:hover{
	background-color: #686592;
        background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.3));
	font-family: Eras, sans-serif;
	cursor: pointer; 
        color: yellow;
}

.cadastroLeft {
 display: inline;
 width: 30%;
 float: left;
 padding-left: 5%;
 padding-right: 1%;
}

.cadastroRight {
 display: inline;
 width: 60%;
 float: right;
 padding-right: 4%;
}

.cmdLink{
    text-decoration:none;
    color: #ffffff;
}
.cmdLink:hover{
    text-decoration:none;
    color: yellow;
}

.cmdLink2{
    text-decoration:none;
}

.cmdLink2:hover{
    text-decoration:none;
    color:red;
}

#welcome{
    position: absolute;
    right: 5px;
    top: 1px;    
}

.flag{
    position: relative;
    top: 7px;
}

#telas{
    width: 90%;
    left: 50%;
    top: 50%;
    margin-top: 20px;
}

#telas2{
    width: 90%;
    left: 50%;
    
}

.telaLeft{
    float: left;
    margin-left: 20%;
    box-shadow: 2px 2px 2px #363636;
 -webkit-box-shadow: 2px 2px 2px #363636;
 -moz-box-shadow: 2px 2px 2px #363636;
}

.telaRight{
    float: right;
    margin-right: 10%;
    box-shadow: 2px 2px 2px #363636;
 -webkit-box-shadow: 2px 2px 2px #363636;
 -moz-box-shadow: 2px 2px 2px #363636;
}

.welcome{
    text-align: left;
    margin-top: 1px;
    color: yellow;
}

.destaque {
    font-weight: bold;
    color: yellowgreen;
}

.chamativo {
    font-weight: bold;
    color: green;
    font-size: 1.3em;
}

.explicativo {
    background-color: lawngreen;
    width: 40%;
}

.invalid{
    padding-left: 4px;
    color: red;
    font-family: ErasLht, sans-serif;
}

.ui-widget select{
    margin-right: 15px;
}

.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: ErasLht, sans-serif;
}

.ui-growl-item-container {
    background-color: yellowgreen;
}

.ui-growl-message p {
    font: 20px "Lucida Console", Monaco, monospace;
    letter-spacing: -1px;
}

.ui-growl-image-info {
	width:0px;
	height:0px;
	float:left;
    margin:0;
    padding:0;
    display: block;
}

.ui-growl-message {
	padding:0 0 5px 0;
	width:220px;
	float:right;
}